<h1 class="text-center"> Samuel Cea</h1>

<div class="jumbotron text-center">
  <h1 class="display-4">Hola Mundo, soy Samuel</h1>
  <p class="lead">Esto es una simple app, no se ilusionen</p>
  <hr class="my-4">
  <p>A todos les gusta el helado</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

